<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AD28E8B1BD313B2003F57EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ADE508B1BD358AF009B8D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AF41DD61BA798450021E98D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEC05B191C6818CF00573953</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEC05B651C682A8A00573953</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
